@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    border: none;
    outline: none;

    &:active &:focus{
        outline: none;
    }
}
.btn{
    @apply cursor-pointer transition-all transform  filter  active:translate-y-px
}
.field{
  @apply  rounded leading-9  px-2;
}