<div class="flex flex-row gap-5 items-stretch" *ngIf="member">
    <div class="flex flex-col w-1/4 rounded items-stretch gap-3 border border-gray-300">
        <img [src]="member.photoUrl || '/assets/user.png'" [alt]="member.knownAs">

        <!-- details -->
        <div class="p-3 flex flex-col gap-5">
            <div>
                <strong>location:</strong>
                <p>{{member.city}}, {{member.country}}</p>
            </div>
            <div>
                <strong>Age:</strong>
                <p>{{member.age}}</p>
            </div>
            <div>
                <strong>Last active:</strong>
                <p>{{member.lastActive | timeago:live}}</p>
            </div>
            <div>
                <strong>Member since:</strong>
                <p>{{member.created}}</p>
            </div>
        </div>
        <hr>
        <div class="flex flex-row justify-center px-3 pb-3">
            <div class="flex flex-row rounded overflow-hidden w-full">
                <a class="text-center h-10 leading-10 block text-white bg-orange-500 w-1/2">Like</a>
                <a class="text-center h-10 leading-10 block text-white bg-green-500 w-1/2">Message</a>
            </div>
        </div>
    </div>
    <div class="flex flex-col w-3/4">
        <tabs>
            <ng-template #button let-title let-active="active">
                <a [ngClass]="active?'text-gray-400  border-gray-300 border-b border-b-white':'text-blue-600 border-transparent'" class="px-5 leading-10 block border-t border-r border-l translate-y-px rounded-sm transform  z-10 bg-white">{{title}}</a>
            </ng-template>
            
            <tab title="About Lisa" [active]="true">
                <h2 class="font-medium pb-2">Description:</h2>
                <p>{{member.introduction}}</p>
                <br>
                <h2 class="font-medium pb-2">Looking for:</h2>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab title="Interests">
                <p>{{member.interests}}</p>
            </tab>
            <tab title="Photos">
                <div class="flex flex-col items-stretch h-96">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </div>
            </tab>
            <tab title="Messages"></tab>
        </tabs>
        <!-- <div class="border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="mr-2">
                    <a href="#"
                        class="inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <svg aria-hidden="true"
                            class="w-5 h-5 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                                clip-rule="evenodd"></path>
                        </svg>Profile
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#"
                        class="inline-flex p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500 group"
                        aria-current="page">
                        <svg aria-hidden="true" class="w-5 h-5 mr-2 text-blue-600 dark:text-blue-500"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg>Dashboard
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#"
                        class="inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <svg aria-hidden="true"
                            class="w-5 h-5 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z">
                            </path>
                        </svg>Settings
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#"
                        class="inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <svg aria-hidden="true"
                            class="w-5 h-5 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                            <path fill-rule="evenodd"
                                d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                                clip-rule="evenodd"></path>
                        </svg>Contacts
                    </a>
                </li>
                <li>
                    <a
                        class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">Disabled</a>
                </li>
            </ul>
        </div> -->

    </div>
</div>