<div class="flex flex-row justify-center px-10 bg-blue-500">
    <div class="flex flex-row items-center justify-between h-20  w-full max-w-6xl">
        <div class="flex flex-row items-center justify-start gap-3">
            <a class="btn p-1 text-white font-semibold text-2xl" routerLink="/">Dating App</a>
            <ul class="flex flex-row items-center justify-start gap-1" >
                <ng-container *ngIf="accountService.currentUser$|async">
                    <a class="btn p-1 text-white font-semibold opacity-60" routerLinkActive="opacity-100" routerLink="/members">Matches</a>
                    <a class="btn p-1 text-white font-semibold opacity-60" routerLinkActive="opacity-100" routerLink="/lists">Lists</a>
                    <a class="btn p-1 text-white font-semibold opacity-60" routerLinkActive="opacity-100" routerLink="/messages">Messages</a>
                </ng-container>
            </ul>
        </div>
        <div  class="flex relative" *ngIf="accountService.currentUser$|async as user">
            <a class="btn p-1 text-white font-semibold" (click)="logData(user);showNav = !showNav" >Welcome {{user.username}}</a>
            <div (click)="showNav = false"  [ngClass]="showNav?'block':'hidden'" class="absolute divide-y divide-gray-300 bg-white flex flex-col w-max items-stretch gap-1 z-10 top-10 shadow-sm right-0 rounded p-1 border border-gray-400">
                <a [routerLink]="['/member/edit']" class="btn px-5 text-blue font-normal rounded leading-10 hover:bg-gray-300">Edit Profile</a>
                
                <a  class="btn px-5  text-blue font-normal rounded leading-10 hover:bg-gray-300" (click)="logout()">Logout</a>
            </div>
        </div>
        <ng-container></ng-container>
        
        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="flex flex-row gap-2 items-center justify-end" role="search" (ngSubmit)="login()" autocomplete="off">
            <input class="bg-blue-400 field text-white placeholder:text-white" type="text" [(ngModel)]="model.username" name="username" placeholder="Username">
            <input class="bg-blue-400 field text-white placeholder:text-white" type="password" [(ngModel)]="model.password" name="password" placeholder="Password">
            <button class="text-blue-600 rounded-md p-2 btn cursor-pointer bg-white" type="submit">Login</button>
        </form>
    </div>
</div>